
<!doctype html>
<head>
	
	<meta charset="{{ resource.meta.charset }}">
	<meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

	<title>{% block title %}{{ resource.meta.title }}{% endblock title %}</title>

	<meta name="description" content="{{ resource.meta.description }}">
	<meta name="author" content="{{ resource.meta.author }}">
	<meta name="viewport" content="{{ resource.meta.viewport }}">

	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ media_url('css/site.css') }}">
	<link rel="stylesheet" href="{{ media_url('css/pygments.css') }}">

<script type="text/javascript">
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-25045616-1']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
</script>
	
</head>
<body>
<div id="header">
	<a href="/" class="mgdotcom">michaelgrosner.com</a>
	<div id="menu">
	{% for menu_item in menu %}
		<a href="{{ menu_item.url }}" class="link">{{ menu_item.title }}</a>
	{% endfor %}
	</div>
</div>
<div id="content">
	{% block content %}
	{% endblock content %}
</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<!-- Include google analytics here -->
</body>
</html>
