{% extends "base.j2" %}

{% block content %}

<div class="listing">
{% for res in resource.node.walk_resources()|sort(reverse=True,attribute="meta.created") %}
	{% if res.meta.listable %}
		<div class="item">

			<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3><br>
			<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
			    <b>{{ res.meta.created.strftime('%A, %B %d, %Y') }}</b>
			</time>
			
			{% if res.url.image %}
			<a href="{{ content_url(res.url) }}">{{ res.url.image|markdown|typogrify }}</a>
			{% endif %}
			
			<p>{{ res.meta.description }}</p>
			
		</div>
	{% endif %}
{% else %}
	No other pages<br>
{% endfor %}
</div>

{% endblock content %}
