{% extends "base.j2" %}

{% block content %}

<div class="listing">
{% for res in resource.node.walk_resources()|sort(reverse=True,attribute="meta.created") %}
	{% if res.meta.listable %}
		<div class="item">
			<!--<a href="{{ res.full_url }}">{{ res.meta.title }}</a> {{ res.meta.created }}<br>-->

			<article>
			<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
			
			{% if res.url.image %}
			<a href="{{ content_url(res.url) }}">{{ res.url.image|markdown|typogrify }}</a>
			{% endif %}
			
			<p>{{ res.meta.description }}</p>
			
			
			<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
			    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
			</time>
			
			</article>
		</div>
	{% endif %}
{% else %}
	No other pages<br>
{% endfor %}
</div>

{% endblock content %}
