html {
	background-color: #fff;
}
body {
	width: 800px;
	margin: 0px auto;
	font: 1.25em "minion-pro-1", "minion-pro-2", Palatino, Georgia, "Times New Roman", serif;
	font-color: black;
	line-height: 130%;
}
figcaption {
	display: none;
}
h1 {
	color: #84dad4;
	font-size: 1.5em;
}
h2 {
	margin-bottom: .15em;
	color: #14756e;
}
pre {
	font-size: .8em;
	font-family: 'Inconsolata', monospace;
	overflow-x: auto;
	overflow-y: hidden;
	line-height: 100%;
}
#header {
	height: 40px;
	border-bottom: 5px solid #84dad4;
}
a {
	text-decoration: none;
	color: #006c64;
}
a.mgdotcom {
	font-size: 1.3em;
	float: left;
	font-weight: bold;
	top: 13px;
	position: relative;
	color: #008e83;
}
#menu {
	float: right;
	top: 14px;
	position: relative;
	font-size: 1em;
}
#menu .link {
	margin-left: 10px;
	color: #006c64 !important;
}
.listing {
}
.listing .item {
	width: 760px;
	margin: 10px;
	padding: 10px;
}
.listing .item h3 {
	display: inline-block;
	margin-bottom: 0em;
	font-size: 1.5em;
}
.listing .item p {
	margin-top: 0em;
}

/* homepage specific css */
.welcome {
	width: 350px;
	float: left;
	padding: 25px;
}
.blog-preview {
	width: 350px;
	float: right;
	padding: 25px;
}
#homepage h2 {
	color: #14756e;
}
.blog-preview .item h3 {
	display: inline-block;
	margin-bottom: 0em;
	font-size: 1.25em;
}
.blog-preview .item p {
	margin-top: 0em;
}
.blog-preview .blurb {
	font-size: .8em;
}